/* font-family starts */
@font-face {
    src: url(../fonts/Oswald-VariableFont_wght.ttf);
    font-family: Oswald-VariableFont_wght;
}
/* font-family ends */
/* html tag start */
html {
    font-size: 62.5%;
}
/* html tag end */

/* Universal  starts*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Oswald-VariableFont_wght;
}
/* Universal  ends*/
/* color starts */
:root {
    --primary-color:#FFF8F3;
    --secondary-color: #FD6E0A;
    --light-color: #FFFFFF;
}
/* color ends */
/* header section starts */
header {
    width: 100%;
    height: 80rem;
    background-color: var(--primary-color);
    background-image: url(../images/web.png) , url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: right , left;

}
.nav {
    display: flex;
    justify-content:space-around;

}
.nav-manu  {
    margin-right: -15rem;
}


.name {
    font-size: 4rem;
    font-weight: 400;
    padding-top: 2.8rem;
    margin-left: -5rem;
  
}
.name:hover {
    color: var(--secondary-color);
}
.color {
    color: var(--secondary-color);
}
ul >li  {
    font-size: 2rem;
    display: inline-block;
}
 ul li  {
    padding-top: 4.2rem;
    margin: 0 1.5rem;
    
}

.hover-1 >a {
    color: black;
}
.hover-1 >a:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}

.hover-2:hover {
    color: var(--secondary-color);
    text-decoration: underline;
}
.hover-3  {
    background-color: var(--secondary-color);
    border: 0.2rem solid var(--primary-color);
    border-radius: 1.1rem;
    padding: 0.5rem 0.8rem;

}
.hover-3:hover {
    color: var(--secondary-color);
    background-color: var(--light-color);
}
.section-1 {
    padding-top: 24rem;
    padding-left: 17rem;
}
.head-2 {
    font-size:3.8rem;
    font-weight: 400;
}
    
.head-1 {
    font-size: 4.2rem;
    margin-bottom: 2rem;
}
.contact {
    color: black;
    font-size: 2.2rem;
    background-color: var(--secondary-color);
    border: 0.2rem solid var(--primary-color);
    border-radius: 1.1rem;
    padding: 0.6rem 1rem;
    
}
.contact:hover {
    color: var(--secondary-color);
    background-color: var(--light-color);
}



